---
interface Props {
  href: string
  title: string
  meta: string
  shortMeta?: string | undefined
  description?: string | undefined
  external?: boolean | undefined
}

const { href, title, meta, shortMeta, description, external = false } = Astro.props
---

<li>
  <a
    href={href}
    title={description}
    target={external ? "_blank" : undefined}
    rel={external ? "noreferrer" : undefined}
    class="-mx-2 block rounded-sm px-2 py-2 hover:bg-accent hover:text-accent-foreground"
  >
    <div class="flex justify-between border-b border-dotted border-muted-foreground/60">
      <span>{title}</span>
      {shortMeta ? (
        <>
          <span class="whitespace-nowrap text-left font-mono text-muted-foreground sm:hidden">{shortMeta}</span>
          <span class="hidden whitespace-nowrap text-left font-mono text-muted-foreground sm:inline">{meta}</span>
        </>
      ) : (
        <span class="whitespace-nowrap text-left font-mono text-muted-foreground">{meta}</span>
      )}
    </div>
  </a>
</li>
