---
import "@fontsource-variable/inter/standard.css"
import "@fontsource-variable/inter/standard-italic.css"
import "@fontsource/monaspace-argon/latin-400.css"
import interLatinWghtNormal from "@fontsource-variable/inter/files/inter-latin-standard-normal.woff2?url"
import monaspaceArgon from "@fontsource/monaspace-argon/files/monaspace-argon-latin-400-normal.woff2?url"
import Header from "@/components/Header.astro"
import Footer from "@/components/Footer.astro"
import "@/styles/global.css"

interface Props {
  title?: string
  description?: string
  image?: string
}

const { title = "Max Petretta", description = "Software Engineer", image } = Astro.props
const pathname = Astro.url.pathname
const canonicalUrl = new URL(pathname, Astro.site ?? "https://maxpetretta.com")
const ogImageUrl = image ?? new URL("/og.png", Astro.site ?? "https://maxpetretta.com").toString()
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Preload fonts to prevent FOUT -->
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href={interLatinWghtNormal} />
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href={monaspaceArgon} />

    <!-- Color theme -->
    <script is:inline>
      const isDark =
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)
      document.documentElement.classList.toggle("dark", isDark)

      const themeColor = isDark ? "#09090b" : "#ffffff"
      const themeColorMetaTag = document.createElement("meta")
      themeColorMetaTag.name = "theme-color"
      themeColorMetaTag.content = themeColor
      document.head.appendChild(themeColorMetaTag)
    </script>


    <!-- Metadata -->
    <title>{title}</title>
    <meta name="author" content="Max Petretta" />
    <meta name="description" content={description} />
    <meta name="robots" content="follow, index" />
    <link rel="canonical" href={canonicalUrl} />

    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
    <link rel="manifest" href="/favicons/site.webmanifest" />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:image" content={ogImageUrl} />

    <!-- Twitter -->
    <meta name="twitter:site" content="@maxpetretta" />
    <meta name="twitter:creator" content="@maxpetretta" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={ogImageUrl} />
  </head>
  <body>
    <div class="mx-auto flex min-h-screen max-w-2xl flex-col px-5 md:px-0">
      <Header pathname={pathname} />

      <main class="grow">
        <slot />
      </main>

      <Footer />
    </div>

    <!-- Twitter embeds -->
    <script is:inline async src="https://platform.twitter.com/widgets.js"></script>
  </body>
</html>
